node_modules
dist

.env
.env.local
.env.development
.env.production
.env.test

TODO.md

coverage

*.log
npm-debug.log*
pnpm-debug.log*

.vscode
.idea
.DS_Store

/src/generated/prisma
.biome

src/test.ts